.form {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 120px;
}

.string {
  max-width: 377px;
}

.button {
  width: 178px;
}

.circles {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}